# Mutable

#  Python Set

 * Sets are used to store multiple items in a single variable.
 * Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different        qualities and usage.
 *A set is a collection which is unordered, unchangeable*, and unindexed.

In [5]:
# Sets are written with curly brackets.
#Create a Set:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

#Set Items
 Set items are unordered, unchangeable, and do not allow duplicate values.

# Unordered
  Unordered means that the items in a set do not have a defined order.
 Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

# Unchangeable
  Set items are unchangeable, meaning that we cannot change the items after the set has been created.
  Once a set is created, you cannot change its items, but you can remove items and add new items.

# Duplicates Not Allowed
  Sets cannot have two items with the same value.

In [6]:
# Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'apple', 'cherry'}

#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [7]:
# True and 1 is considered the same value:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

# Note: The values False and 0 are considered the same value in sets, and are treated as duplicates:

In [8]:
# False and 0 is considered the same value:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'apple', 'cherry', 'banana'}

# Get the Length of a Set
  To determine how many items a set has, use the len() function

In [9]:
#Get the number of items in a set:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

# Set Items - Data Types
 Set items can be of any data type:

In [11]:
# A set can contain different data types:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

# type()
  From Python's perspective, sets are defined as objects with the data type 'set':
  <class 'set'>

In [12]:
* What is the data type of a set?
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

Init signature: set(self, /, *args, **kwargs)
Docstring:
set() -> new empty set object
set(iterable) -> new set object

Build an unordered collection of unique elements.
Type:           type
Subclasses:

# The set() Constructor
  It is also possible to use the set() constructor to make a set.

In [13]:
# Using the set() constructor to make a set:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

# List of method

In [ ]:
   Method	                    Shortcut	                                Description
   add()	 	                                                Adds an element to the set
   clear()	 	                                                Removes all the elements from the set
   copy()	 	                                                Returns a copy of the set
   difference()	              -	                                Returns a set containing the difference between two or more sets
   difference_update()	     -=	                                Removes the items in this set that are also included in another, specified set
   discard()	 	                                            Remove the specified item
   intersection()	          &	                                Returns a set, that is the intersection of two other sets
   intersection_update()	  &=	                            Removes the items in this set that are not present in other, specified set(s)
   isdisjoint()	 	                                            Returns whether two sets have a intersection or not
   issubset()	              <=	                            Returns whether another set contains this set or not
 	                          <	                                Returns whether all items in this set is present in other, specified set(s)
   issuperset()	              >=	                            Returns whether this set contains another set or not
 	                          >	                                Returns whether all items in other, specified set(s) is present in this set
   pop()	 	                                                Removes an element from the set
   remove()	 	                                                Removes the specified element
   symmetric_difference()	  ^	                                Returns a set with the symmetric differences of two sets
   symmetric_difference_update()	^=	                        Inserts the symmetric differences from this set and another
   union()	                  |	                                Return a set containing the union of sets
   update()	                  |=	                            Update the set with the union of this set and others

In [4]:
# add() Method:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'banana', 'apple'}

In [2]:
#  clear() Method:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [3]:
# copy() Method:
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'apple', 'banana', 'cherry'}

In [5]:
# difference() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'banana', 'cherry'}

In [6]:
# difference_update() Method:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

In [7]:
# discard() Method:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [8]:
# intersection() Method:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [9]:
# intersection_update() Method:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [10]:
# disjoint() Method:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [11]:
# issubset() Method
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x <= y
print(z)

True

In [12]:
# issuperset() Method
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x >= y
print(z)

True

In [13]:
# pop() Method:
fruits = {"apple", "banana", "cherry"}
fruits.pop()
print(fruits)

{'banana', 'apple'}

In [16]:
# remove() Method:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [18]:
 # symmetric_difference() Method:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'microsoft', 'google', 'banana', 'cherry'}

In [19]:
# union() Method:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'google', 'apple', 'microsoft', 'banana', 'cherry'}

In [20]:
# update() Method:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
print(x)

{'google', 'apple', 'microsoft', 'banana', 'cherry'}