In [35]:
# First, let's start by importing pandas and creating a sample DataFrame:
import pandas as pd
# Sample DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)
print(df)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

# 1. Column and Row Selection

# Column Selection
   Using column names:

In [3]:
# Single column
print(df['A'])

# Multiple columns
print(df[['A', 'B']])

0    1
1    2
2    3
3    4
Name: A, dtype: int64
   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# Using loc and iloc:

In [4]:
# Single column with loc
print(df.loc[:, 'A'])

# Multiple columns with loc
print(df.loc[:, ['A', 'B']])

# Single column with iloc
print(df.iloc[:, 0])

# Multiple columns with iloc
print(df.iloc[:, [0, 1]])

0    1
1    2
2    3
3    4
Name: A, dtype: int64
   A  B
0  1  5
1  2  6
2  3  7
3  4  8
0    1
1    2
2    3
3    4
Name: A, dtype: int64
   A  B
0  1  5
1  2  6
2  3  7
3  4  8

# Row Selection
  Using index:

In [6]:
# using loc
# Single row
print(df.loc[0])

# Multiple rows
print(df.loc[0:2])

A    1
B    5
C    9
Name: 0, dtype: int64
   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11

In [7]:
# Using iloc:
# Single row
print(df.iloc[0])

# Multiple rows
print(df.iloc[0:2])

A    1
B    5
C    9
Name: 0, dtype: int64
   A  B   C
0  1  5   9
1  2  6  10

# 2. Conditional Selection

In [8]:
# Select rows where column 'A' is greater than 2
print(df[df['A'] > 2])

# Select rows where column 'A' is greater than 2 and column 'B' is less than 8
print(df[(df['A'] > 2) & (df['B'] < 8)])

   A  B   C
2  3  7  11
3  4  8  12
   A  B   C
2  3  7  11

# 3. Adding, Deleting, and Updating Columns

* Adding a Column

In [9]:
# Adding a new column
df['D'] = df['A'] + df['B']
print(df)

   A  B   C   D
0  1  5   9   6
1  2  6  10   8
2  3  7  11  10
3  4  8  12  12

* Deleting a Column

In [11]:
# Deleting a column
df.drop('D', axis=1, inplace=True)
print(df)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

* Updating a Column

In [12]:
# Updating a column
df['A'] = df['A'] * 2
print(df)

   A  B   C
0  2  5   9
1  4  6  10
2  6  7  11
3  8  8  12

# 4. Index Operations

* Setting an Index

In [36]:
# Setting a column as index
df.set_index('A', inplace=True)
print("\nDataFrame after setting index to column A:\n", df)

DataFrame after setting index to column A:
    B   C
A
1  5   9
2  6  10
3  7  11
4  8  12

* Resetting an Index

In [37]:
# Resetting index to default integer index
df.reset_index(inplace=True)
print("\nDataFrame after resetting index:\n", df)

DataFrame after resetting index:
    A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

* Removing an Index

In [38]:
# Removing the index name
df.index.name = None
print("\nDataFrame after removing index name:\n", df)

DataFrame after removing index name:
    A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

# 5. Operations Between Columns

* Addition, Subtraction, Multiplication, and Division

In [26]:
# Addition
df['E'] = df['A'] + df['B']
print(df)

# Subtraction
df['F'] = df['B'] - df['C']
print(df)

# Multiplication
df['G'] = df['A'] * df['C']
print(df)

# Division
df['H'] = df['C'] / df['A']
print(df)

   A  B   C   E
0  1  5   9   6
1  2  6  10   8
2  3  7  11  10
3  4  8  12  12
   A  B   C   E  F
0  1  5   9   6 -4
1  2  6  10   8 -4
2  3  7  11  10 -4
3  4  8  12  12 -4
   A  B   C   E  F   G
0  1  5   9   6 -4   9
1  2  6  10   8 -4  20
2  3  7  11  10 -4  33
3  4  8  12  12 -4  48
   A  B   C   E  F   G         H
0  1  5   9   6 -4   9  9.000000
1  2  6  10   8 -4  20  5.000000
2  3  7  11  10 -4  33  3.666667
3  4  8  12  12 -4  48  3.000000

* Logical OR Operation

In [27]:
# Logical OR operation (element-wise)
df['I'] = (df['A'] > 2) | (df['B'] < 7)
print(df)

   A  B   C   E  F   G         H     I
0  1  5   9   6 -4   9  9.000000  True
1  2  6  10   8 -4  20  5.000000  True
2  3  7  11  10 -4  33  3.666667  True
3  4  8  12  12 -4  48  3.000000  True

# 4. Index Operations

* Setting an Index