# Pandas library.

* Pandas is a Python library.
* Pandas is used to analyze data.

# What is Pandas?
* Pandas is a Python library used for working with data sets.
* It has functions for analyzing, cleaning, exploring, and manipulating data.

# Why Use Pandas?
* Pandas allows us to analyze big data and make conclusions based on statistical theories.
* Pandas can clean messy data sets, and make them readable and relevant.
* Relevant data is very important in data science.

# What Can Pandas Do?
* Pandas gives you answers about the data. Like:
* Is there a correlation between two or more columns?
* What is average value?
* Max value?
* Min value?
* Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

# Series

# What is a Series?
  1) A Pandas Series is like a column in a table.
  2) It is a one-dimensional array holding data of any type.

Pandas library.is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively 
called index. Labels need not be unique but must be a hashable type. The object supports both integer and label-based indexing and provides a host of 
methods for performing operations involving the index.

In [1]:
# Create a simple Pandas Series from a list:
import pandas as pd
a = [1, 7, 2]
series = pd.Series(a)
print(series)

0    1
1    7
2    2
dtype: int64

# Creating a series from array: In order to create a series from NumPy array, we have to import numpy module and have to use array() function.

In [3]:
import pandas as pd
import numpy as np
 # simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

# Creating a series from array with an index: In order to create a series by explicitly proving index instead of the default, we have to provide a 
  list of elements to the index parameter with the same number of elements as it is an array.

In [4]:
import pandas as pd
import numpy as np
 # simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
 # providing an index
ser = pd.Series(data, index=[10, 11, 12, 13, 14])
print(ser)

10    g
11    e
12    e
13    k
14    s
dtype: object

# Creating a series from list:In order to create a series from list, we have to first create a list after that we can create a series from list.

In [5]:
import pandas as pd
 # a simple list
list = ['g', 'e', 'e', 'k', 's']
 # create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

# Creating a series from dictionary:
In order to create a series from the dictionary, we have to first create a dictionary after that we can make a series using dictionary. Dictionary keys are used to construct indexes of Series.

In [6]:
import pandas as pd
 # a simple dictionary
dict = {'Geeks': 10,
        'for': 20,
        'geeks': 30}
 # create series from dictionary
ser = pd.Series(dict)
 
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

# Creating a series from scalar value:
  In order to create a series from scalar value, an index must be provided. The scalar value will be repeated to match the length of the index.

In [9]:
import pandas as pd
import numpy as np
 # giving a scalar value with index
ser = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
print(ser)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

# Methods in series
* series.head(n):Returns the first n elements.
* series.tail(n):Returns the last n elements.
* series.describe():Provide descriptive statistics for the series.
* series.mean():Computing the mean of the series value.
* series.median():Computing the median of the series value.
* series.max():Returns the maximum value.
* series.min():Returns the minimum value.
* series.sum():Returns the sum of the series value.
* sries.value_counts():Returns the counts of unique value.
* sries.apply(fun):Applies a function to each element in the series.
* sries.map(fun):Maps values of the series using a given finction.

# Operation in series

In [ ]:
# Arithmetic Operation
  We can perform element-wise arithmetic operations between Series or between a Series and a scalar value.

In [10]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([10, 20, 30, 40])
# Addition
s_add = s1 + s2
print(s_add)

0    11
1    22
2    33
3    44
dtype: int64

In [12]:
# Subtraction
s_sub = s1 - s2
print(s_sub)

0    -9
1   -18
2   -27
3   -36
dtype: int64

In [13]:
# Multiplication
s_mul = s1 * s2
print(s_mul)

0     10
1     40
2     90
3    160
dtype: int64

In [14]:
# Division
s_div = s1 / s2
print(s_div)

0    0.1
1    0.1
2    0.1
3    0.1
dtype: float64

In [15]:
# Operations with scalars
s_add_scalar = s1 + 10
s_mul_scalar = s1 * 2
print(s_add_scalar)
print(s_mul_scalar)

0    11
1    12
2    13
3    14
dtype: int64
0    2
1    4
2    6
3    8
dtype: int64

# Comparison Operations
  We can perform element-wise comparison operations.

In [18]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([10, 20, 30, 40])
# Greater than
s_gt = s1 > 2
print(s_gt)

0    False
1    False
2     True
3     True
dtype: bool

In [19]:
# Less than or equal to
s_le = s1 <= 3
print(s_le)

0     True
1     True
2     True
3    False
dtype: bool

In [20]:
# Equality
s_eq = s1 == 2
print(s_eq)

0    False
1     True
2    False
3    False
dtype: bool

In [21]:
# Not equal
s_ne = s1 != 2
print(s_ne)

0     True
1    False
2     True
3     True
dtype: bool

# Logical Operations
  Logical operations can be performed using bitwise operators.

In [24]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([10, 20, 30, 40])
# Logical AND
s_and = (s1 > 2) & (s2 < 35)
print(s_and)

0    False
1    False
2     True
3    False
dtype: bool

In [25]:
# Logical OR
s_or = (s1 > 2) | (s2 < 35)
print(s_or)

0    True
1    True
2    True
3    True
dtype: bool

In [26]:
# Logical NOT
s_not = ~(s1 > 2)
print(s_not)

0     True
1     True
2    False
3    False
dtype: bool

# Statistical Operations
  Statistical operations can be used to describe the data in a Series.

In [27]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([10, 20, 30, 40])
# Descriptive statistics
s_describe = s1.describe()
print(s_describe)

count    4.000000
mean     2.500000
std      1.290994
min      1.000000
25%      1.750000
50%      2.500000
75%      3.250000
max      4.000000
dtype: float64

In [28]:
# Cumulative sum
s_cumsum = s1.cumsum()
print(s_cumsum )

0     1
1     3
2     6
3    10
dtype: int64

In [29]:
# Cumulative product
s_cumprod = s1.cumprod()
print(s_cumprod)

0     1
1     2
2     6
3    24
dtype: int64